{%extends "django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
  {{form.media}}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body">
              <!-- Looping through model   -->
              <div class="row">
                  <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5" style="padding: 10px; margin: 30px; ">
                    <!-- displaying title -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h2 class="text-center"> {{ project.title }}</h2>
                      </div>
                      <div class="panel-body">
                          <div class = "row">
                            <div class = "col-md-12">
                              <p>Live URL: <a href="{{project.live_site}}">{{project.live_site}}</a></p>
                                <hr>
                            </div>
                          </div>
                          <div class = "row">
                            <div class = "col-md-12">
                              <p> <span style="font-weight: bold;"> Description: </span>{{ project.project_details}}  </p>
                                <hr>
                            </div>
                          </div>
                          <div class = "row">
                            <div class = "col-md-12">
                                <p> <span style="font-weight: bold;"> Rating: </span>{{ project.score }}/10</p>
                                <hr>
                                {% if ratingz == ""%}
                                <p> Add a rating? </p>
                                <form  action="/viewproject/{{project.id}}" method="post" enctype="multipart/form-data">
                                  {%csrf_token%}

                                  {% bootstrap_form form%}
                                  <input type="submit" class="btn btn-success btn-lg" value="Post">
                                </form>
                                <hr>
                                {%else%}
                              <p>You have already submitted a rating </p>
                                {%endif%}
                            </div>
                          </div>
                          <div class = "row">
                            <div class = "col-md-12">
                                <p> <span style="font-weight: bold;"> More from the Author: </span><a href="authorprofile/{{project.creator.id}}">{{ project.creator.username }}</a></p>
                                <hr>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
    </div>
    </div>
  </div>
    </div>
  </div>

{% endblock %}
